h1
  div It will never
  div 
    span Be 
    span.perfect.bold.red perfe ct
  div Match your 
  .vision.bold vision 
  div OR Live up to your 
  .expect.bold.red expectations

h1 
  div You will never find the
  div 
    span.perfect.red.bold Perfect 
    span Font
  div Best Color Palette
  div Most flexible Tool
  div Greatest Workflow
  div or the
  div Most Productive Process

h1 
  div 
    span SO 
    span.stop.red.bold STOP
  div worrying
  div AND OBSESing

h1 
  div About
  div decoration
  .perfect.bold.red perfection
  div and
  div getting attention

h1
  div 
    span.bold.focus Focus 
    span On
  .bold.red.creating creating
  div growing
  div and
  .sharing.bold.red sharing
  
h1 
  div 
    span what you 
    span.bold.red.make make

h1 
  div Because

h1
  div The only way to get 
  .bold.red.better better 
  div is to 
  .bold.red.make-crap make crap

h1
  .now.bold.red NOW
  div.later.bold NOT LATER

.meta
  .feedback
    span Feedback via twitter
    a href="http://twitter.com/k_2052" @k_2502 &nbsp;
    span or mail 
    a href="mailto:k@2052.me" k@2052.me

  ul.share-links
    li.like 
      | <div class="fb-like" data-href="http://just.makecrap.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    li.flattr
      a.FlattrButton style="display:none;" title="Make Crap. Now. Not Later" data-flattr-uid="flattr" data-flattr-tags="creativity, making" data-flattr-category="text" href="http://just.makecrap.com"
        | Make Crap. Now. Not Later
    li.tweet 
      | <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://just.makecrap.com" data-text="Make Crap. Now. Not Later" data-via="k_2052" data-hashtags="makecrap">Tweet</a>
      | <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
